/* ```````````````UTILS````````````` */
:root {
  --primary-color: #ffffff;
  --secondary-color: #212121;
  --third-color: #757575;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --background-secondary-color: #f5f4fa;
  --background-color: #2f303a;
  --accent-color: #2196f3;
  --icons-color: #afb1b8;
  --btn-hover-color: #188ce8;
  --btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --current-btn-nav-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ```````````````COMPONENTS```````````` */
.container {
  width: 100%;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header__logo,
.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.studio__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer__studio-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.btn {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-time) var(--cubic);
  background-color: var(--accent-color);
  box-shadow: var(--btn-box-shadow);
  color: var(--primary-color);
  border-radius: 4px;
  border: none;
}

.btn:hover, .btn:focus {
  background-color: var(--btn-hover-color);
}

.btn-nav {
  padding: 6px 22px 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  outline: none;
  border: none;
  color: var(--secondary-color);
  background-color: var(--background-secondary-color);
  transition: background-color var(--transition-time) var(--cubic), color var(--transition-time) var(--cubic), box-shadow var(--transition-time) var(--cubic);
}

.btn-nav:hover, .btn-nav:focus {
  color: var(--primary-color);
  background: var(--accent-color);
  box-shadow: var(--current-btn-nav-shadow);
}

.btn-nav.current__btn {
  color: var(--primary-color);
  background: var(--accent-color);
  box-shadow: var(--current-btn-nav-shadow);
}

.btn-nav {
  padding: 6px 22px 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  outline: none;
  border: none;
  color: var(--secondary-color);
  background-color: var(--background-secondary-color);
  transition: background-color var(--transition-time) var(--cubic), color var(--transition-time) var(--cubic), box-shadow var(--transition-time) var(--cubic);
}

.btn-nav:hover, .btn-nav:focus {
  color: var(--primary-color);
  background: var(--accent-color);
  box-shadow: var(--current-btn-nav-shadow);
}

.btn-nav.current__btn {
  color: var(--primary-color);
  background: var(--accent-color);
  box-shadow: var(--current-btn-nav-shadow);
}

.btn-nav {
  padding: 6px 22px 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  outline: none;
  border: none;
  color: var(--secondary-color);
  background-color: var(--background-secondary-color);
  transition: background-color var(--transition-time) var(--cubic), color var(--transition-time) var(--cubic), box-shadow var(--transition-time) var(--cubic);
}

.btn-nav:hover, .btn-nav:focus {
  color: var(--primary-color);
  background: var(--accent-color);
  box-shadow: var(--current-btn-nav-shadow);
}

.btn-nav.current__btn {
  color: var(--primary-color);
  background: var(--accent-color);
  box-shadow: var(--current-btn-nav-shadow);
}

/* ```````````````STUDIO````````````` */
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
  }
}

.header__nav {
  display: flex;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    margin-right: auto;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  transition: color var(--transition-time) var(--cubic);
  position: relative;
  padding: 32px 0 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__link.current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header__link.current:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

.header-contact__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contact__list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header-contact__item {
    display: flex;
    align-items: center;
  }
  .header-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__item {
    display: flex;
  }
  .header-contact__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.header-mail__link,
.header-tel__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-color);
  transition: color var(--transition-time) var(--cubic);
}

.header-mail__link:hover, .header-mail__link:focus,
.header-tel__link:hover,
.header-tel__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-mail__link,
  .header-tel__link {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header-mail__link,
  .header-tel__link {
    display: flex;
    padding: 32px 0 32px 0;
  }
}

@media screen and (max-width: 1199px) {
  .header-mail__link {
    padding-top: 21px;
  }
}

@media screen and (max-width: 1199px) {
  .header-tel__link {
    padding-bottom: 21px;
  }
}

.mail__icon,
.tel__icon {
  margin-right: 10px;
  fill: currentColor;
}

.open-menu__btn {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .open-menu__btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 48px;
    padding-left: 40px;
    background-color: var(--primary-color);
  }
  .mob-menu.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .mob-menu {
    pointer-events: none;
    display: none;
  }
}

.mob-menu.is-hidden {
  visibility: 0;
  opacity: 0;
  pointer-events: none;
}

.mob-menu {
  transition: opacity var(--transition-time) var(--cubic);
}

.close-menu__btn {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color var(--transition-time) var(--cubic);
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__link.current {
  color: var(--accent-color);
}

.mob-menu-contacts__list {
  margin-bottom: 64px;
}

.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts-mail__link {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(40 / 30);
  letter-spacing: 0.02em;
  color: var(--third-color);
}

.mob-contacts-tel__link {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-social__list {
  display: flex;
  flex-wrap: wrap;
}

.mob-social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.open-menu__icon,
.close-menu__icon {
  fill: currentColor;
  transition: fill var(--transition-time) var(--cubic);
}

.open-menu__icon:focus, .open-menu__icon:hover,
.close-menu__icon:focus,
.close-menu__icon:hover {
  fill: var(--accent-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-2x.jpg);
  }
}

.hero.section {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero.section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

.about__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .about__list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.about__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  .about__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__item {
    flex-basis: calc((100% - 60px) / 4);
    margin-bottom: 0;
  }
  .about__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .about__item:not(:last-child) {
    margin-right: 30px;
  }
}

.about-item__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.about-item__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.about__icon-box {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--background-secondary-color);
}

@media screen and (max-width: 1199px) {
  .we-do.section {
    display: none;
  }
}

.we-do__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.we-do__list {
  display: flex;
}

.we-do__item {
  flex-basis: calc(100% / 3 - 30px);
}

.we-do__item:not(:last-child) {
  margin-right: 30px;
}

.we-do__thumb {
  position: relative;
}

.we-do__box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.we-do__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.team {
  width: 100%;
  background-color: var(--background-secondary-color);
}

.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.team__item {
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  .team__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 4);
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__img {
  width: 100%;
}

.team__content {
  padding: 30px 32px;
  text-align: center;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team__job {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.team-social__list {
  display: flex;
  justify-content: center;
}

.team-social__item {
  width: 44px;
  height: 44px;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  transition: background-color var(--transition-time) var(--cubic);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.team-social__link:hover, .team-social__link:focus {
  background-color: var(--accent-color);
}

.team-social__link:hover .team-social__icon,
.team-social__link:focus .team-social__icon {
  fill: var(--primary-color);
}

.team-social__icon {
  transition: fill var(--transition-time) var(--cubic);
  fill: var(--icons-color);
}

.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

.clients__item {
  width: 100%;
  display: flex;
  flex-basis: calc(100% / 2 - 30px);
  justify-content: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition: border var(--transition-time) var(--cubic), color var(--transition-time) var(--cubic);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  transition: fill var(--transition-time) var(--cubic);
  fill: currentColor;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999;
  opacity: 1;
  transition: opacity var(--transition-time) var(--cubic);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: 0;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 98%;
  min-height: 509px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-time) var(--cubic);
  background: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modal {
    min-height: 450px;
    min-width: 509px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}

.modal__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__form-field:nth-child(5n) {
  margin-bottom: 32px;
}

.modal__form-field:nth-child(4n) {
  margin-bottom: 18px;
}

.modal__input,
.feedback__txt {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: var(--third-color);
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: border-color var(--transition-time) var(--cubic);
  cursor: pointer;
}

.modal-input__wrap {
  position: relative;
  width: 100%;
  height: 40px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-right: 10px;
  padding-left: 42px;
}

.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__input:focus + .input__icon {
  fill: var(--accent-color);
}

.input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill var(--transition-time) var(--cubic);
}

.input__title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--third-color);
}

.feedback__txt {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.feedback__txt:focus {
  border-color: var(--accent-color);
}

.feedback__txt::placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.terms__check {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--third-color);
}

@media screen and (min-width: 1200px) {
  .terms__check {
    font-size: 14px;
  }
}

.terms__check span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  transition: background-color var(--transition-time) var(--cubic), border var(--transition-time) var(--cubic);
  display: flex;
  margin-right: 6px;
}

.terms__link {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .terms__link {
    font-size: 14px;
  }
}

.icon__check {
  fill: transparent;
  transition: fill var(--transition-time) var(--cubic);
}

.modal__check:focus .terms__check span {
  border: var(--accent-color);
}

.modal__check:checked + .terms__check span {
  background-color: var(--accent-color);
  border: none;
}

.modal__check:checked + .terms__check span .icon__check {
  fill: var(--primary-color);
}

.submit__btn {
  margin: auto auto;
  padding: 10px 55px;
}

.modal-close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: var(--secondary-color);
  background: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color var(--transition-time) var(--cubic);
}

.modal-close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.modal-close__icon:hover, .modal-close__icon:focus {
  fill: var(--accent-color);
}

/* ```````````````FOOTER````````````` */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }
}

.footer__container {
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer__container {
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-top {
    display: flex;
    align-items: baseline;
  }
}

.footer-address__block {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-address__block {
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    display: flex;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .footer-address__link {
    display: flex;
  }
}

.footer-mail__link,
.footer-tel__link {
  transition: color var(--transition-time) var(--cubic);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.footer-mail__link:hover, .footer-mail__link:focus,
.footer-tel__link:hover,
.footer-tel__link:focus {
  color: var(--accent-color);
}

.social-footer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social-footer {
    margin-right: 93px;
    margin-bottom: 0;
    align-items: flex-start;
  }
}

.social-footer__title {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.social-footer__list {
  display: flex;
}

.social-footer__item {
  width: 44px;
  height: 44px;
}

.social-footer__item:not(:last-child) {
  margin-right: 10px;
}

.social-footer__link {
  transition: background-color var(--transition-time) var(--cubic);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-footer__link:hover, .social-footer__link:focus {
  background-color: var(--accent-color);
}

.social-footer__icon {
  fill: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .sign-up__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up__block {
    display: block;
  }
}

.sign-up__form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1200px) {
  .sign-up__form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.sign-up__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .sign-up__title {
    display: flex;
  }
}

.sign-up__label {
  width: 100%;
  justify-content: center;
}

.sign-up__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-time) var(--cubic);
  cursor: pointer;
}

.sign-up__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-time) var(--cubic);
}

.sign-up__input:focus {
  border-color: var(--accent-color);
}

.sign-up__input:focus::placeholder {
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .sign-up__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.sign-up__btn {
  height: 50px;
  padding: 10px 29px;
}

@media screen and (min-width: 1200px) {
  .sign-up__btn {
    display: flex;
  }
}

.sign-up__icon {
  margin-left: 10px;
  fill: var(--primary-color);
}

/* ```````````````PORTFOLIO````````````` */
.products__nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .products__nav {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .products__nav {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.products-nav__item:not(:last-child) {
  margin-right: 8px;
}

.products-nav__item:nth-child(-n+3) {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .products-nav__item {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .products-nav__item:nth-child(-n+3) {
    margin-bottom: 0;
  }
}

.btn-nav {
  transition: background-color var(--transition-time) var(--cubic), color var(--transition-time) var(--cubic), box-shadow var(--transition-time) var(--cubic);
  padding: 6px 22px 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  outline: none;
  border: none;
  color: var(--secondary-color);
  background-color: var(--background-secondary-color);
}

.btn-nav:hover, .btn-nav:focus {
  color: var(--primary-color);
  background: var(--accent-color);
  box-shadow: var(--current-btn-nav-shadow);
}

.btn-nav.current__btn {
  color: var(--primary-color);
  background: var(--accent-color);
  box-shadow: var(--current-btn-nav-shadow);
}

@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .products__list {
    display: flex;
    margin-right: -30px;
  }
}

.products__item:not(:last-child) {
  margin-bottom: 35px;
}

.products__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .products__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .products__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .products__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .products__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .products__item:nth-child(3n) {
    margin-right: 0;
  }
  .products__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.products__img {
  width: 100%;
}

.products__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--transition-time) var(--cubic);
}

.products__link:hover, .products__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products__thumb {
  position: relative;
  overflow: hidden;
}

.products__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--overlay-color);
}

@media screen and (max-width: 767px) {
  .products__overlay {
    overflow-y: scroll;
  }
}

.products-overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.products__overlay,
.products-overlay__text {
  transform: translateY(101%);
  transition: transform var(--transition-time) var(--cubic), opacity var(--transition-time) var(--cubic);
}

.products__item:hover .products__overlay,
.products__item:hover .products-overlay__text {
  transform: translateY(0);
  opacity: 1;
}

.products__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.products__link:focus .products__overlay,
.products__link:focus .products-overlay__text {
  transform: translateY(0);
  opacity: 1;
}

.border__wrap {
  flex-grow: 1;
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: 20px 24px;
}

.products-item__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.products-item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--third-color);
}
/*# sourceMappingURL=main.css.map */