.social-footer {
    margin-right: 93px;
}

.social-footer__title {
    display: flex;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
}

.social-footer__list {
    display: flex;
}

.social-footer__item {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-footer__link {
    transition: background-color var(--transition-time) var(--cubic);

    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.social-footer__icon {
    fill: var(--primary-color);
}