.sign-up__block {
    @media screen and (min-width: 768px){
        margin-left: auto;
        margin-right: auto;
    }
}

.sign-up__form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;


    @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    }

}

.sign-up__title {
    margin-bottom: 20px;
    text-align: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-color);

    @media screen and (min-width: 1200px) {
    display: flex;
    }
}

.sign-up__input {
    min-width: 450px;
    height: 50px;
    padding: 15px 16px;
    margin-bottom: 20px;

    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;

    transition: border-color var(--transition-time) var(--cubic);

    cursor: pointer;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);

        transition: color var(--transition-time) var(--cubic);
    }

    &:focus {
        border-color: var(--accent-color);
    }

    &:focus::placeholder {
        color: var(--primary-color);
    }

    @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
    }
}

.sign-up__btn {
    height: 50px;
    padding: 10px 29px;

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.sign-up__icon {
    margin-left: 10px;

    fill: var(--primary-color);
}