  :root {

  --primary-color: #ffffff;
  --secondary-color: #212121;
  --third-color: #757575;

  --contacts-color: rgba(255, 255, 255, 0.6);
  --background-secondary-color: #f5f4fa;
  --background-color: #2f303a;

  --accent-color: #2196f3;

  --icons-color: #afb1b8;

  --btn-hover-color: #188ce8;
  --btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --current-btn-nav-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);

  --overlay-color: rgba(33, 150, 243, 0.9);

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;  
}