.about__list {
    display: flex;
}

.about__item {
    flex-basis: calc((100% - 60px) / 4);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.about-item__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.about-item__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-color);
}

.about__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--background-secondary-color);
}