.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;

    opacity: 1;
    transition: opacity var(--transition-time) var(--cubic);

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    visibility: 0;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 98%;
    min-height: 509px;

    padding: 40px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-time) var(--cubic);

    background: var(--primary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 768px) {
        min-height: 450px;
        min-width: 509px;
    }

    @media screen and (min-width: 1200px) {
        min-height: 581px;
        min-width: 528px;
    }
}

.modal__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

.modal__form-field {
    margin-bottom: 10px;

    &:nth-child(5n) {
        margin-bottom: 32px;
        }

    &:nth-child(4n) {
        margin-bottom: 18px;
    }
}

.modal__input,
.feedback__txt {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    color: var(--third-color);

    font-size: 16px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    transition: border-color var(--transition-time) var(--cubic);
    cursor: pointer;
}

.modal-input__wrap {
    position: relative;
    width: 100%;
    height: 40px;
}

.modal__input {
    width: 100%;
    height: 40px;
    padding-right: 10px;
    padding-left: 42px;

    &:focus {
        border-color: var(--accent-color);
    }

    &:focus+.input__icon {
        fill: var(--accent-color);
    }
}

.input__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;

    transition: fill var(--transition-time) var(--cubic);
}

.input__title {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--third-color);
}

.feedback__txt {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;

    &:focus {
        border-color: var(--accent-color);
    }

    &::placeholder {
        font-size: 14px;
        line-height: 1.16;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}



.terms__check {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--third-color);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}

.terms__check {
    span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--secondary-color);
    border-radius: 2px;

    transition: background-color var(--transition-time) var(--cubic), border var(--transition-time) var(--cubic);

    display: flex;
    margin-right: 6px;
    }
}

.terms__link {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;


    line-height: 1.71;
    letter-spacing: 0.03em;

    text-decoration: underline;
    text-decoration-skip-ink: none;

    color: var(--accent-color);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}

.icon__check {
    fill: transparent;

    transition: fill var(--transition-time) var(--cubic);
}


.modal__check {
&:focus {
    .terms__check span {
        border: var(--accent-color);
    }
}

    &:checked+.terms__check span {
        background-color: var(--accent-color);
        border: none;
    }
    &:checked+.terms__check span .icon__check {
        fill: var(--primary-color);
    }
}

.submit__btn {
    margin: auto auto;
    padding: 10px 55px;
}

.modal-close__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    color: var(--secondary-color);
    background: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: color var(--transition-time) var(--cubic);
}

.modal-close__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    fill: currentColor;

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
    
}
