.products__thumb {
    position: relative;
    overflow: hidden;
}

.products__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: var(--overlay-color);
}

.products-overlay__text {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;

    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--primary-color);
}

.products__overlay,
.products-overlay__text {
    transform: translateY(101%);
    transition: transform var(--transition-time) var(--cubic),
        opacity var(--transition-time) var(--cubic);
}

.products__item {
    &:hover .products__overlay,
    &:hover .products-overlay__text {
        transform: translateY(0);
        opacity: 1;
    }
}

.products__link {
        display: flex;
        flex-direction: column;
        height: 100%;

    &:focus .products__overlay,
    &:focus .products-overlay__text {
        transform: translateY(0);
        opacity: 1;
    }
}

.border__wrap {
    flex-grow: 1;   
    border: 1px solid #eeeeee;
    border-top: 0px;
    padding: 20px 24px;
}

.products-item__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
}

.products-item__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--third-color);
}
